:root{
    background-color: #D9E7D8;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-weight: 300;
}

.nav .enlaces-header a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.toggle-t{
    color: black;
}